<div>
  <div id="cameraPreview" class="cameraPreview"></div>
  <div>
    <div *ngIf="cameraActive">
      <img
        src="./assets/icon/face-id.png"
        *ngIf="typeScanner === 'face'"
        class="image-face"
      />

      <img
        src="./assets/icon/face-id.png"
        *ngIf="typeScanner === 'document'"
        class="image-document"
      />

      <ion-button (click)="stopCamera()" expand="block" id="close">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>

      <ion-button (click)="captureImage()" expand="block" id="capture">
        <ion-icon name="camera" slot="icon-only"></ion-icon>
      </ion-button>

      <ion-button (click)="flipCamera()" expand="block" id="flip">
        <ion-icon name="refresh" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </div>
</div>

<!--  -->
<ion-img [src]="image" *ngIf="image && !cameraActive"></ion-img>

<!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed" >
  <ion-fab-button (click)="openCamera()">
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>
</ion-fab> -->

<ion-button (click)="openCamera()" expand="full" *ngIf="!cameraActive"
  >Open Camera</ion-button
>
